* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}
/* general styles */

html {
  scroll-behavior: smooth;
}

body {
  border: 3px solid white;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
  background-color: #0c1f2d;
}

i.fas {
  margin-top: 1%;
  margin-right: 1%;
}

section {
  min-height: 200px;
  padding: 6% 6%;
  background-color: #0c1f2d;
  color: #A9B0BC;
  display: block;
}
  
section:nth-child(even) {
  background-color: #6CC0E6;
  color: #282C34;
}

/* header styles  */

nav {
  padding: 1% 0;
  background-color: #F7FEFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav div.logo-start {
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  float: left;
  padding-left: 1%;
  padding-top: 1%;
}

nav ul.nav-list {
  display: flex;
  margin-right: 3%;
  float: right;
}

nav ul.nav-list li.nav-item {
  list-style-type: none;
  margin: 0 3 0 0%;
}

nav ul.nav-list li.nav-item a {
  text-decoration: none;
  color: #181A20;
}

nav ul.nav-list li.nav-item a:hover{
  background-color: #424349;
  color: white;
  border-radius: 3%;
  cursor: pointer;
}

/* header styles  */

header {
  /* padding: 0 5% 17% 0;
  text-align: left;
  margin-left: 10%; */
  color: #A9B0BC;
  background: url("images/hero-magic.jpg") no-repeat center center fixed;
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: block;
}

header h2.title-sub {
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  display: block;
  padding-top: 121px;
  padding-left: 50px;
  font-size: 150%;
  color: white;
}

section h2 {
  text-align: left; 
  margin-top: 0;
}

section h2.blue {
  color: #61DAFB;
  font-size: 200%;
}

section h2.dark {
  color: #0D1F2D;
  font-size: 200%;
}

/* about me section */
section.about-profile div.photo {
  display: inline-block;
  width: 20%;
  float: right;
}

section.about-profile div.photo img {
  float: right;
  width: 300px;
  height: 300px; 
  border-radius: 50%;
}

section.about-profile .about-me {
  width: 50%;
  margin-top: 8%;
  display: block;
  text-align: left;
}

section.about-profile .about-me p {
  margin-bottom: 15px;
}

section .about-profile {
  margin-bottom: -10%;
  padding-top:0;

}

/* work section */

section.work .projects-box {
  padding: 5%;
  height: 50%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section.work .projects-box .project-content .live, .repo {
  background-color: #43597A;
  color: white;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  display: inline-block;
  margin: 1%;
  width: auto;
  text-decoration: none;
}

section.work .projects-box .project-content .repo-live:hover {
  background-color: #424349;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

section.work .projects-box .project-content .title {
  font-size: 150%;
}

section.work .project-content i.fa-desktop, .fa-code {
  padding-right: 5px;
}

 .project-content, .project-image-wrapper {
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.project-content {
  width: 49%;
}

.project-image-wrapper {
  margin-right: 1%;
  width: 49%;
}

.project-image-wrapper .project-image {
  display: block;
  margin: 0;
  width: 100%;
  opacity: 0.96;
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px; 
}

.project-content .technologies span {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 1%;
}

/* section skills */

section.skills {
  width: 100%
}

section.skills .skills-container {
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: grid;
  flex-flow: column wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

section.skills .skills-container .figure-skills {
  margin: 0;
}

section.skills .skills-container .figure-skills img {
  width: 100%;
  max-width: 150px;
}


/* contact section */

section.contact {
  padding-top: 2%;
  padding-bottom: 10%;
}

section.contact h2.address {
  padding-top: 6%;
}

section.contact .social-box ul {
  text-align: center;
  margin-bottom: 0;
}

section.contact .social-box ul li {
  display: inline-block;
  width: 32%;
}

section.contact .social-box ul li .social-img {
  width: 80%;
  margin: 1rem auto;
  max-width: 100px;
}

/* footer */
footer {
  padding: 1% 0;
  background-color: #0c1f2d;
}

footer div.copy-right {
  color: #A9B0BC;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

/*large desktop*/
@media only screen and (max-width: 1600px) {
  body {
      border: 3px solid yellow;
  }
}

/*iPad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
  body {
      border: 3px solid blue;
  }

  .photo img {
    width: 270px;
    height: 270px;
  }

  .project-image-wrapper {
    width: 33%;
  }
  .project-content {
    width: 65%;
  }
}

/*iPad potrait*/
@media only screen and (max-width: 768px) {
  body {
      border: 3px solid red;
  }

  .photo img {
    width: 230px;
    height: 230px;
  }

  .project-content, .project-image-wrapper {
    display: block;
    width: 99%;
    margin: 0;
  }
}

/*Android landscape*/
@media only screen and (max-width: 640px) {
  body {
      border: 3px solid brown;
  }
  .photo {
    display:block;
    width: 100%;
    float: none;
  }

  .photo img {
    width: 300px;
    height: 300px;
    float: none;
  }

  .about-me {
    width: 100%;
    display: block;
  }

}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
  body {
      border: 3px solid green;
  }

  section.skills .skills-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
  body {
      border: 3px solid purple;
  }
  section.skills .skills-container {
    grid-template-columns: 1fr;
  }
}
/* @media only screen and (min-width: 927px) {
  
  .skills-container {
    display: grid;
    flex-flow: column wrap;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 1rem;
  }
} 

@media only screen and (max-width: 1024px) {
  .skills {
    font-weight: bolder;
  }

  .about-me {
    width: 40%;
    left: 10%;
  }

  .skills-container {
    display: grid;
    flex-flow: column wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 1rem;

  }

  .contact.box {
    padding-top: 6%;
    padding-bottom: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
  }

  button.contact-button {
    padding: 1.3em;
  }

  .skills-container {
    display: grid;
    flex-flow: column wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 1rem;
  }
}
@media only screen and (max-width: 1138px) {

  img {
    margin: 60px;
  }

}

@media only screen and (max-width: 640px) {

   .photo img { 
    width: 200px;
    height: 200px;
    margin: 70px;
  }

  .photo {
    width: 200px;
    height: 200px;
    margin-right: 9%;
  }

  .about h2 {
    margin-top: 25%;
  }

  .nav-list {
    flex-direction: column;
    text-align: left;
    width: 25%;
    font-size: 70%;
  }
    
  .nav-item {
    margin: 0;
    display: none;
  }

  .button-menu {
    display: block;
    margin-right: 2%;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #282C34;
}

  header {
    padding-bottom: 25%;
  }

  .skills-container {
    display: grid;
    flex-flow: column wrap;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 1rem;
  }

}

@media only screen and (max-width: 768px) {
  .photo img {
    float: right;
    width: 300px;
    height: 300px;
    margin-top: -98%;
    margin-left: -20%
  }

  .photo {
    float: right;
    width: 200px;
    height: 200px;
  }

  .about-me {
    width: 100%
  }
  
} */

  

  