@media print {
    /*
        @page {
                size: 210mm 297mm;
                margin: 10mm;
            }
    */
    body {
        width: 1024px!important;
    }
    /* div, section, footer, header, main {
        float: left!important;
    } */
    a[href]:after {
        content: ""!important;
    }
    .show-web-only {
        display: none !important;
    }
    .show-print-only {
        display: block !important;
    }
    nav {
        padding: 1% 0;
        background-color: #F7FEFF;
        position: relative; 
        /* top: 0; 
        left: 0; 
        right: 0; 
        z-index: 10;  */
        display: block;
        height: auto;
        clear: both;
    }

    nav ul.nav-list {
        display: block;
        margin-right: 0%;
        float: none;
        text-align: right;
    }
    .skills {
        page-break-after: always;
    }
    ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
      }
}